{{ define "main" }}

<article>
  {{ if .Params.showHero | default (.Site.Params.article.showHero | default false) }}
    {{ $heroStyle := .Params.heroStyle | default (.Site.Params.article.heroStyle | default "basic") }}
    {{ partial (print "partials/hero/" $heroStyle ".html") . }}
  {{ end }}

  <header id="single_header" class="mt-5 max-w-prose">
    {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      {{ .Title | emojify }}
    </h1>
    <div class="mt-1 mb-6 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta/basic.html" (dict "context" . "scope" "single") }}
    </div>

    {{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
      {{ partial "author.html" . }}
    {{ end }}
  </header>

  <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
    <div class="min-w-0 min-h-0 max-w-fit">
      <div class="article-content max-w-prose mb-20">
        {{ .Content }}

        {{ if .Params.replyByEmail | default (.Site.Params.replyByEmail) }}
          <strong class="block mt-8">
            <a target="_blank" class="m-1 rounded bg-neutral-300 p-1.5 text-neutral-700 hover:bg-primary-500 hover:text-neutral dark:bg-neutral-700 dark:text-neutral-300 dark:hover:bg-primary-400 dark:hover:text-neutral-800"
              href="mailto:{{ .Site.Author.email }}?subject={{ replace (printf "Reply to %s" .Title) "\"" "'" }}">
              Reply by Email
            </a>
          </strong>
        {{ end }}

      </div>

      {{ partial "sharing-links.html" . }}
      {{ partial "related.html" . }}
    </div>
  </section>

  <footer class="pt-8 max-w-prose print:hidden">
    {{ partial "article-pagination.html" . }}
    {{ if .Params.showComments | default (.Site.Params.article.showComments | default true) }}
    <div class="pt-3">
      <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
      <div class="pt-3">
        {{ partial "comments.html" . }}
      </div>
    </div>
    {{ end }}
  </footer>
</article>

{{ end }}
